@page
@model WebApp.Pages.Confirmation.Index

@functions
{
    static string GetMessage(string message)
    {
        return message.ToLower().Contains("miss") ? "red" : "green";
    }

}

<br>
<div class="text-center">
    <h1 style="color: @GetMessage(@Model.Message)">@Model.PlayerName @Model.Message</h1>
</div>
<br>
<hr>

<div class="d-grid text-center">
    <button class="btn btn-lg btn-primary"
            type="button"
            onclick="window.location.href =
             '/GamePlay/Index?id=@Model.Id'">
        <strong>@Model.OpponentName</strong> click to make your move!
    </button>
</div>