@page
@model WebApp.Pages.GameOver

@{
    ViewData["Title"] = "Game over";
}

<div class="text-center">
    <h1>GAME OVER</h1>
    <hr>
    <h1 style="color: green">@Model.Name WON!</h1>
    <br>
    <button class="btn btn-primary btn-lg">
        <a href="/Index/" style="color:#fff; text-decoration: none">Return to index</a>
    </button>
</div>