@page
@using Domain.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Battleship</h1>
</div>
<hr>
<div class="container text-center">
    <div class="row">
        <div class="col pr-5 border-right">
            <form asp-page-handler="NewGame" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label asp-for="PlayerA!.Name" class="control-label"></label>
                            <input asp-for="PlayerA!.Name" class="form-control" value="Player One"/>
                            <span asp-validation-for="PlayerA!.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PlayerA!.PlayerType" class="control-label"></label>
                            <select asp-for="PlayerA!.PlayerType" asp-items="Html.GetEnumSelectList<EPlayerType>()" class="form-control"></select>
                            <span asp-validation-for="PlayerA!.PlayerType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label asp-for="PlayerB!.Name" class="control-label"></label>
                            <input asp-for="PlayerB!.Name" class="form-control" value="Player Two"/>
                            <span asp-validation-for="PlayerB!.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PlayerB!.PlayerType" class="control-label"></label>
                            <select asp-for="PlayerB!.PlayerType" asp-items="Html.GetEnumSelectList<EPlayerType>()" class="form-control"></select>
                            <span asp-validation-for="PlayerB!.PlayerType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="GameOption!.BoardWidth" class="control-label"></label>
                            <input asp-for="GameOption!.BoardWidth" class="form-control" value="10"/>
                            <span asp-validation-for="GameOption!.BoardWidth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="GameOption!.BoardHeight" class="control-label"></label>
                            <input asp-for="GameOption!.BoardHeight" class="form-control" value="10"/>
                            <span asp-validation-for="GameOption!.BoardHeight" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="GameOption!.EShipsCanTouch" class="control-label"></label>
                            <select asp-for="GameOption!.EShipsCanTouch" asp-items="Html.GetEnumSelectList<EShipsCanTouch>()" class="form-control"></select>
                            <span asp-validation-for="GameOption!.EShipsCanTouch" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="GameOption!.NextMoveAfterHit" class="control-label"></label>
                            <select asp-for="GameOption!.NextMoveAfterHit" asp-items="Html.GetEnumSelectList<ENextMoveAfterHit>()" class="form-control"></select>
                            <span asp-validation-for="GameOption!.NextMoveAfterHit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                         <div class="form-group">
                             <label asp-for="RandomShips" class="control-label"></label>
                             <select asp-for="RandomShips" asp-items="Html.GetEnumSelectList<ERandomShips>()" class="form-control"></select>
                             <span asp-validation-for="RandomShips" class="text-danger"></span>
                         </div>
                     </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="New Game" class="btn btn-primary"/>
                </div>
            </form>
        </div>

        <div class="col">
            <h4>Last 3 Games</h4>
            <div class="row">
                <div class="col">
                    <form asp-page-handler="LoadGame" method="post">
                        <div class="text-center">
                            <span asp-validation-for="Id" class="text-danger"></span>
                            <hr>
                        </div>
                        @foreach (var x in Model.Games!)
                        {
                            <div class="row">
                                <div class="col text-right">
                                    <div class="form-radio">
                                        <input asp-for="Id" name="GameId" id="@x.GameId" type="radio" class="form-check-input" value="@x.GameId">
                                    </div>
                                </div>
                                <div class="col-10 text-left border-left">
                                    <div class="form-radio">
                                        <label asp-for="Id" for="@x.GameId" class="form-check-label">
                                            <p>@x.Description</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        }
                        <div class="col">
                            @if (Model.Games!.Count == 0)
                            {
                                <button type="button" class="btn btn-primary" disabled>Load Game</button>
                            }
                            else
                            {
                                <input type="submit" value="Load Game" class="btn btn-primary"/>
                            }

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}